/* Importing the Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* Setting up the fonts */
body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

.content-container {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.top-story {
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 1em;
  box-sizing: border-box;
  height: auto;
  display: flex;
  align-items: center;
}

.top-story img {
  height: 100%;
  object-fit: cover;
}

.red-background {
  background-color: #a1c993;
}

.top-story-text {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.top-story-text h2 {
  margin-top: 1.5rem;
}

/*-- background styles --*/

.black-background {
  background-color: black;
}

